<%= turbo_frame_tag "#{dom_id(@conversation)}_interaction_form", class: 'container mx-auto bg-slate-950 px-8 pb-4' do %>
  <%= form_with(model: Interaction.new, url: [@conversation, @conversation.interactions.new]) do |form| %>

    <div class="w-4/5 mx-auto flex flex-col gap-4 relative">
      <%= form.text_area :content,
              placeholder: 'Message cPal...',
              autofocus: true, "x-on:keydown.cmd.enter" => "$event.target.form.requestSubmit();",
              class: "block shadow rounded-xl border border-gray-600 outline-none py-3 px-5 w-full bg-transparent resize-none focus:ring-amber-700 placeholder-black/50 dark:placeholder-white/50 focus:text-gray-200 pr-20 text-gray-400" %>
      <%= button_tag inline_svg_tag('icons/arrow-narrow-up.svg', class: 'w-6 h-6 stroke-gray-800 stroke-2'),
                    type: :submit, 
                    class: 'absolute top-2 right-4 border-0 rounded-lg p-1 bg-slate-600 inline-block font-medium cursor-pointer border-2 border-gray-300' %>
      <span class="text-sm text-gray-500 text-center w-full">
        update conversation can make mistakes. Consider checking important information.
      </span>
    </div>
  <% end %>

<% end %>
