<section class="relative">
  <div class="w-full lg:w-2/3 lg:mx-auto lg:px-4 flex flex-col gap-8 mb-56">
    <%= turbo_frame_tag "interactions_#{conversation.id}" do %>
      <% conversation.interactions.each do |interaction|%>
        <%= render "interactions/interaction", interaction: interaction %>
      <% end %>
    <% end %>
  </div>
  <div class="container mx-auto flex pb-8 bg-gray-800 fixed bottom-0">
    <%= render "form", conversation: @conversation %>
  </div>
</section>