<%= turbo_frame_tag "conversation_#{@conversation.id}", class: 'container mx-auto relative' do %>
  <div class="flex flex-col justify-end items-end gap-8 relative bg-red-200">
    <%= render "form", conversation:  @conversation %>
  </div>
<% end %>
