
<%= turbo_frame_tag 'new_conversation', class: 'container mx-auto' do %>
  <div id="new_conversation_main" class="container mx-auto flex flex-col justify-end items-between h-custom gap-12">
    <div class="w-4/5 mx-auto grid grid-cols-2 gap-8">
      <div class="col-span-1 px-4 py-2 text-gray-200 rounded-lg flex flex-col justify-center items-start hover:cursor-pointer bg-gray-900 hover:bg-gray-700 shadow shadow-gray-900">
        <h3 class="w-full font-semibold px-4 py-2 text-gray-200">🍌 Lorem ipsum</h3>
        <span class="w-full text-gray-400 text-sm truncate">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur dolorum nobis dolor quam fugiat.
        </span>
      </div>
      <div class="col-span-1 px-4 py-2 text-gray-200 rounded-lg flex flex-col justify-center items-start hover:cursor-pointer bg-gray-900 hover:bg-gray-700 shadow shadow-gray-900">
        <h3 class="w-full font-semibold px-4 py-2 text-gray-200">🍌 Lorem ipsum</h3>
        <span class="w-full text-gray-400 text-sm truncate">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur dolorum nobis dolor quam fugiat, recusandae alias ratione tempora eligendi numquam dicta
        </span>
      </div>
      <div class="col-span-1 px-4 py-2 text-gray-200 rounded-lg flex flex-col justify-center items-start hover:cursor-pointer bg-gray-900 hover:bg-gray-700 shadow shadow-gray-900">
        <div class="w-full flex justify-between items-center gap-4">
          <h3 class="w-full font-semibold px-4 py-2 text-gray-200">🍌 Lorem ipsum</h3>
        </div>
        <span class="w-full text-gray-400 text-sm truncate">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur dolorum nobis dolor quam fugiat, recusandae alias ratione tempora 
        </span>
      </div>
      <div class="col-span-1 px-4 py-2 text-gray-200 rounded-lg flex flex-col justify-center items-start hover:cursor-pointer bg-gray-900 hover:bg-gray-700 shadow shadow-gray-900">
        <h3 class="w-full font-semibold px-4 py-2 text-gray-200">🍌 Lorem ipsum</h3>
        <span class="w-full text-gray-400 text-sm truncate">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur dolorum nobis dolor quam fugiat, i
        </span>
      </div>
    </div>
    <div class="flex flex-col justify-end items-end gap-8">
      <%= render "form", conversation: Conversation.new %>
    </div>
  </div>
<% end %>
