<%= turbo_frame_tag :new_conversation, src: new_conversation_path, load: :lazy do %>
  <div class="flex justify-center items-center h-screen">
    <div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-blue-500"></div>
  </div>
<% end %>