/* Application styles */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #585858;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;
}

.hljs {
  background-color: black !important;
  width: 100%;
}
